@{
    ViewBag.Title = "Адрес офиса Майкрософт в Алматы";
}

<div class="page-header">
    <div class="page-header-content">
        <h1>@ViewBag.Title</h1>
        <a class="back-button big page-back" title="Назад" href="@Url.Action("Index", "Home")"></a>
    </div>
</div>
 
<div class="page-region">
    <div class="page-region-content">
        <span>
            Казахстан,<br/>
            Алматы, 050010,<br/>
            проспект Достык, д.38,<br/>
            бизнес центр "Кен Дала",<br/>
            6-й этаж <br/>
        </span>    
    </div>
</div>

