@{
    ViewBag.Title = "Адрес офиса Майкрософт в Астане";
}

<div class="page-header">
    <div class="page-header-content">
        <h1>@ViewBag.Title</h1>
        <a class="back-button big page-back" title="Назад" href="@Url.Action("Index", "Home")"></a>
    </div>
</div>
 
<div class="page-region">
    <div class="page-region-content">
        <span>
            Казахстан,<br/>
            Астана, 010000,<br/>
            проспект Сары Арка, д.6,<br/>
            бизнес центр "Арман",<br/>
            6-й этаж <br/>
        </span>    
    </div>
</div>