@{
    ViewBag.Title = "Условия участия";
}

<div class="page-header">
    <div class="page-header-content">
        <h1>@ViewBag.Title</h1>
        <a class="back-button big page-back" title="Назад" href="@Url.Action(ViewBag.BackLink, "Contests")"></a>
    </div>
</div>

<div class="page-region">
    <div class="page-region-content">
        <ol>
            <li>
                <b>Предмет соглашения:</b>
                <ol>
                    <li>
                        Настоящее соглашение (далее – Правила проведения Акции) регламентирует взаимоотношения между организатором Акции «Золотая осень!», ТОО «Майкрософт Казахстан» – юридическим лицом, созданным в соответствии с законодательством Республики Казахстан, с местом нахождения по адресу: г. Алматы, проспект Достык, д. 38 (далее – Организатор), с одной стороны, и участниками Акции с другой.<br />
                    </li>
                </ol>
            </li>
            <br />
            <li>
                <b>Вид мероприятия:</b>
                <ol>
                    <li>
                        Акция «Золотая осень!», не является лотереей, в т. ч. стимулирующей лотереей, азартной игрой, основанной на риске либо пари.<br />
                    </li>
                </ol>
            </li>
            <br />
            <li>
                <b>Территория проведения мероприятия:</b>
                <ol>
                    <li>
                        Республика Казахстан.<br />
                    </li>
                </ol>
            </li>
            <br />
            <li>
                <b>Период проведения мероприятия:</b>
                <ol>
                    <li>
                        Период проведения Акции: 30 октября – 31 декабря 2013 года.<br />
                    </li>
                </ol>
            </li>
            <br />
            <li>
                <b>Общие условия проведения мероприятия:</b>
                <ol>
                    <li>
                        Участниками Акции могут являться физические лица, достигшие 18 лет, проживающие на территории РК и имеющие паспорт гражданина РК (действующего образца) и индивидуальный идентификационный номер  (ИИН), зарегистрировавшиеся в качестве участников Акции (далее – Участник).
                    </li>

                    <li>
                        В Акции запрещается участвовать работникам и представителям Организатора, аффилированным лицам, членам семей таких работников и представителей, а также работникам и представителям любых других лиц, имеющих непосредственное отношение к организации или проведению настоящей Акции, а также членам их семей.
                    </li>

                    <li>
                        Для участия в Акции необходимо создать мобильное приложение под платформы <a href="https://appdev.microsoft.com/StorePortals/">Windows Phone</a> и/или <a href="http://www.windowsphone.com/ru-RU/marketplace">Windows 8</a> и выложить его в магазинах приложений Windows Phone Store и/или Windows Store.<br />
                        Учётная запись разработчика на порталах публикации (<a href="http://dev.windowsphone.com">dev.windowsphone.com</a> и <a href="http://dev.windows.com">dev.windows.com</a>) должна быть зарегистрирована как <b>казахстанская</b>
                    </li>

                    <li>
                        Приложения под Windows Phone и Windows 8 должны быть опубликованы в Windows Phone Store и Windows Store не раньше 30 октября 2013 года.
                    </li>

                    <li>
                        Заявки проходят модерацию в течение двух рабочих дней.<br />
                    </li>
                </ol>
            </li>
            <br />
            <li>
                <b>Порядок проведения Акции:</b>
                <ol>
                    <li>
                        Участник регистрирует приложение, заполняя форму на сайте. По окончании регистрации он получает уникальный номер, который служит идентификатором в случае получения участником призов в акции.
                    </li>

                    <li>
                        Принимая участие в акции, участник разрешает организатору проверять работоспособность приложения в течение всего времени проведения акции.
                    </li>

                    <li>
                        1-6 января на основании данных по рейтингу приложений и экспертной оценки жюри осуществляется распределение призов: двое победителей получат смартфоны на платформе Windows Phone 8.
                    </li>

                    <li>
                        Конкретная спецификация призов будет уточнена организатором в момент присуждения призов.
                    </li>

                    <li>
                        Информация об участниках, отобранных для получения призов п.6.3, будет опубликована на сайте.
                    </li>

                    <li>
                        Каждый участник имеет право добавлять неограниченное количество мобильных приложений, повышая вероятность выигрыша приза.<br />
                    </li>
                </ol>
            </li>
            <br />
            <li>
                <b>Порядок информирования Участников:</b>
                <ol>
                    <li>
                        Правила Акции размещены на сайте Акции в сети Интернет по адресу: <a href="http://contests.tech-club.kz/register/fallwinterconditions/">http://contests.tech-club.kz/register/fallwinterconditions/</a>
                    </li>

                    <li>
                        Организатор акции общается с участниками преимущественно посредством размещения сообщений на сайте акции.
                    </li>

                    <li>
                        В случае возникновения вопросов участник акции может обратиться к организатору, написав электронное письмо на адрес <a href="mailto:andrey.andreev@microsoft.com">andrey.andreev@microsoft.com</a><br />
                    </li>
                </ol>
            </li>
            <br />
            <li>
                <b>Участник Акции обязан:</b>
                <ol>
                    <li>
                        Получать всю необходимую для участия в Акции информацию, ознакомиться с Правилами к моменту участия в Акции и руководствоваться ими в дальнейшем.
                    </li>

                    <li>
                        В случае признания Участника Акции победителем в соответствии с Правилами Акции, не позднее срока, установленного Правилами Акции, обеспечить получение представителем Организатора информации/документов, необходимых для получения приза в соответствии с настоящими Правилами.
                    </li>

                    <li>
                        При получении приза уплатить все необходимые налоги и сборы, предусмотренные действующим законодательством РК<br />
                    </li>
                </ol>
            </li>
        </ol>
        <a href="@Url.Action("CreateWP","Register")">
            <button class="active">Участвовать</button>
        </a>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ($('ol:first').css('list-style-type') != 'none') { /* For IE6/7 only. */
            $('ol ol').each(function (i, ol) {
                ol = $(ol);
                var level1 = ol.closest('li').index() + 1;
                ol.children('li').each(function (i, li) {
                    li = $(li);
                    var level2 = level1 + '.' + (li.index() + 1);
                    li.prepend('<span>' + level2 + '</span>');
                });
            });
        }
    });
</script>
<style>
    html >/**/ body ol { /* Won't be interpreted by IE6/7. */
        list-style-type: none;
        counter-reset: level1;
    }

        ol li:before {
            content: counter(level1) ". ";
            counter-increment: level1;
        }

        ol li ol {
            list-style-type: none;
            counter-reset: level2;
        }

            ol li ol li:before {
                content: counter(level1) "." counter(level2) " ";
                counter-increment: level2;
            }

        ol li span { /* For IE6/7. */
            margin: 0 5px 0 -25px;
        }
</style>
