@{
    ViewBag.Title = "Условия участия";
}

<div class="page-header">
    <div class="page-header-content">
        <h1>@ViewBag.Title</h1>
        <a class="back-button big page-back" title="Назад" href="@Url.Action(ViewBag.BackLink, "Contests")"></a>
    </div>
</div>

<div class="page-region">
    <div class="page-region-content">
        <ol>
            <li>
                <h3>Информация об Инициаторе и Организаторе Акции</h3>
                <ol>
                    <li>
                        <b>Инициатор Акции: </b><br />
                        Наименование: ТОО Microsoft Kazakhstan (Майкрософт Казахстан);<br />
                        Адрес: 050010, Алматы, пр. Достык, 38, Бизнес Центр «Кен Дала», Блок А, 6-ой этаж;<br />
                        Телефон: 8 (727) 258 55 95; факс: 8 (727) 258 55 59.<br />
                    <br/><br/></li>
                    <li>
                        <b>Организатор Акции:</b><br />
                        Наименование: ТОО Microsoft Kazakhstan (Майкрософт Казахстан);<br />
                        Адрес: 050010, Алматы, пр. Достык, 38, Бизнес Центр «Кен Дала», Блок А, 6-ой этаж;<br />
                        Телефон: 8 (727) 258 55 95; факс: 8 (727) 258 55 59.<br />
                    <br/><br/></li>
                </ol>
            <br/><br/></li>
            <li>
                <h3>Цель Акции и территория проведения: </h3>
                <ol>
                    <li>
                        Акция проводится с целью выбора и поощрения лиц, продемонстрировавших осведомленность о продуктах и технологиях Microsoft на условиях, изложенных в настоящих правилах проведения Акции (<b>«Правила»</b>).
                    <br/><br/></li>
                    <li>
                        Акция не является лотереей, в т. ч. стимулирующей лотереей, азартной игрой, основанной на риске либо пари.
                    <br/><br/></li>
                    <li>
                        Акция проводится на территории Республики Казахстан.
                    <br/><br/></li>
                </ol>
            <br/></li>
            <li>
                <h3>Срок проведения Акции:</h3>
                Срок проведения Акции: 13 декабря 2013 года – 31 января 2014 года (<b>«Срок»</b>).
            <br/></li>
            <li>
                <h3>Общие условия проведения Акции:</h3>
                <ol>
                    <li>
                        Участниками Акции являются физические лица, достигшие 18 лет, проживающие на территории Республики Казахстан, имеющие паспорт гражданина РК (действующего образца) и индивидуальный идентификационный номер (ИИН), зарегистрировавшиеся в качестве участников Акции (<b>«Участник»</b>) на сайте Акции contests.tech-club.kz и выполнившие требования пункта 4.3 настоящих Правил в течение Срока. 
                    <br/></li>
                    <li>
                        В Акции запрещается участвовать работникам и представителям Организатора, аффилированным лицам, членам семей таких работников и представителей, а также работникам и представителям любых других лиц, имеющих непосредственное отношение к организации или проведению настоящей Акции, а также членам их семей. 
                    <br/></li>
                    <li>
                        Участнику необходимо создать мобильное приложение под платформы <a href="https://appdev.microsoft.com/StorePortals/" target="_blank">Windows Phone</a> и <a href="http://www.windowsphone.com/ru-RU/marketplace" target="_blank">Windows 8</a> и выложить его на сайт Акции (contests.tech-club.kz) в течение Срока. 
                        <br />
                        <p>
                            Каждый Участник имеет право добавлять по одному мобильному приложению для каждой платформы (Windows 8 и Windows Phone 8) (<b>«Заявление»</b>).
                        </p>
                    <br/></li>
                    <li>
                        Приложения под Windows Phone и Windows 8 не должны быть опубликованы в Windows Phone Store и Windows Store ранее. 
                    <br/></li>
                    <li>
                        После регистрации Участника согласно пунктам 4.1 и 4.3 выше Заявление Участника проходит модерацию, осуществляемую Организатором в течение 2-х (двух) рабочих дней с даты Заявления.
                    <br/></li>
                    <li>
                        Организатор оставляет за собой право предложить победителю Акции контракт на разработку клиентского приложения на платформах Windows 8 и Windows Phone, которое в дальнейшем будет опубликовано в магазинах Windows Store и Windows Phone.
                    <br/></li>
                </ol>
            <br/></li>
            <li>
                <h3>Порядок проведения Акции: </h3>
                <ol>
                    <li>
                        Участник регистрирует приложение, заполнив форму на сайте Акции contests.tech-club.kz. По окончании регистрации Участнику присваивается уникальный номер, который служит идентификатором для признания соответствующего Участника победителем Акции. 
                    <br/></li>
                    <li>
                        Принимая участие в Акции, Участник соглашается на то, что Организатор проверяет работоспособность приложения в течение Срока.  
                    <br/></li>
                    <li>
                        В период с 1-6 февраля 2014 года на основании экспертной оценки комиссии Акции, в состав которой входят представители Майкрософт Казахстан и Организатора, осуществляется определение победителей Акции и распределение призов в следующем порядке: трем победителям будут присуждены в качестве приза смартфоны на платформе Windows Phone 8 и планшеты на платформе Windows 8. 
                    <br/></li>
                    <li>
                        Конкретная спецификация призов будет уточнена Организатором в момент присуждения призов. 
                    <br/></li>
                    <li>
                        Информация об Участниках-победителях Акции будет опубликована на сайте contests.tech-club.kz 9 февраля 2014 г. 
                    <br/></li>
                    <li>
                        Комиссия вправе дисквалифицировать Участника в случае нарушения и/или несоблюдения условий и положений, предусмотренных настоящими Правилами и/или законодательством Республики Казахстан.
                    <br/></li>
                </ol>
            <br/></li>
            <li>
                <h3>
                    Порядок информирования Участников: 
                </h3>
                <ol>
                    <li>
                        Правила Акции размещены на сайте Акции в сети Интернет по адресу:<a href="http://contests.tech-club.kz/register/kolesaConditions/"> http://contests.tech-club.kz/register/kolesaConditions/ </a>
                    <br/></li>
                    <li>
                        Организатор общается с Участниками посредством размещения сообщений на сайте Акции. 
                    <br/></li>
                    <li>
                        В случае возникновения вопросов Участник может обратиться к Организатору, написав электронное письмо на адрес <a href="mailto:andrey.andreev@microsoft.com">andrey.andreev@microsoft.com</a>
                    <br/></li>
                </ol>
            <br/></li>
            <li>
                <h3>Обязанности Участника: </h3>
                <b>Участник обязан:</b>
                <ul>
                    <li>
                        ознакомиться с Правилами к моменту участия в Акции
                    <br/></li>
                    <li>
                        соблюдать Правила в процесса участия в Акции
                    <br/></li>
                    <li>
                        своевременно выполнить требования, предусмотренные в пункте 4.3 настоящих Правил;
                    <br/></li>
                    <li>
                        в случае признания  победителем обеспечить получение приза в порядке, предусмотренном пунктом 8.1 настоящих Правил;
                    <br/></li>
                    <li>
                        оплатить налоги и сборы, если таковые предусмотрены действующим законодательством Республики Казахстан в связи с получением приза.
                    <br/></li>
                </ul>
            <br/></li>
            <li>
                <h3>Порядок выдачи призов</h3>
                <ol>
                    <li>
                        <p>Призы не доставляются победителям. Призы вручаются Участникам-победителям в период с 9 февраля 2014 г. по 28 февраля 2014 г. в офисе Организатора по адресу: г. Алматы, проспект Достык 38, 6-й этаж, офис Microsoft Kazkahstan при условии предъявления оригинала удостоверения личности и номера ИИН.</p>
                        <p>Приз также может быть вручен представителю Участника-победителя при условии предъявления нотариально –заверенной доверенности от Участника-победителя и удостоверения личности и номера ИИН получающего лица и при условии подписания представителем документов, необходимых для передачи приза.</p>
                    <br/></li>
                    <li>
                        Денежная компенсация за призы не выплачивается.
                    <br/></li>
                    <li>
                        Право собственности на приз возникает у Участника-победителя в момент передачи ему или его представителю приза от Организатора. Риск случайной гибели и/или случайной порчи приза несет Участник с момента возникновения у него права собственности на приз.
                    <br/></li>
                    <li>
                        Организатор не несет ответственности за действия представителя Участника-победителя по передаче/использованию приза, полученного по доверенности.
                    <br/></li>
                </ol>
            <br/></li>
            <li>
                <h3>Порядок хранения невостребованных призов и порядок их востребования по истечении сроков получения призов</h3>
                <p>В случае невостребованного приза или приза, от получения которого Участник-победитель отказался в письменной форме, Организатор принимает решение по своему усмотрению.  </p>
            <br/></li>
            <li>
                <h3>Дополнительные условия</h3>
                <ol>
                    <li>
                        Условия проведения настоящей Акции регулируются законодательством Республики Казахстан
                    <br/></li>
                    <li>
                        Добровольно предоставляя информацию о себе, Участник подтверждает свое согласие на сбор, хранение, использование, обработку и распространение таких данных для целей Акции уполномоченными лицами, которые будут предпринимать необходимые меры для защиты данных от несанкционированного разглашения.
                    <br/></li>
                    <li>
                        С учетом пункта 10.2 выше все персональные данные, в том числе имя, фамилия, отчество, возраст, номер телефона и/или адрес электронной почты Участников, будут использоваться исключительно в связи с проведением Акции, и не будут предоставляться никаким третьим лицам для целей, не связанных с Акцией.
                    <br/></li>
                    <li>
                        Участники участвуют в Акции на равных основаниях.
                    <br/></li>
                    <li>
                        По общему правилу приз не может передаваться другим лицам. 
                    <br/></li>
                    <li>
                        Зарегистрировавшись на сайте Акции contests.tech-club.kz и выполнив требования пункта 4.3 настоящих Правил, Участник подтверждает свое ознакомление и согласие с настоящими Правилами и условиями участия в Акции. 
                    <br/></li>
                </ol>
            <br/></li>
        </ol>
        <a href="@Url.Action("CreateKolesa","Register")">
            <button class="active">Участвовать</button>
        </a>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ($('ol:first').css('list-style-type') != 'none') { /* For IE6/7 only. */
            $('ol ol').each(function (i, ol) {
                ol = $(ol);
                var level1 = ol.closest('li').index() + 1;
                ol.children('li').each(function (i, li) {
                    li = $(li);
                    var level2 = level1 + '.' + (li.index() + 1);
                    li.prepend('<span>' + level2 + '</span>');
                });
            });
        }
    });
</script>
<style>
    html >/**/ body ol { /* Won't be interpreted by IE6/7. */
        list-style-type: none;
        counter-reset: level1;
    }

        ol li:before {
            content: counter(level1) ". ";
            counter-increment: level1;
        }

        ol li ol {
            list-style-type: none;
            counter-reset: level2;
        }

            ol li ol li:before {
                content: counter(level1) "." counter(level2) " ";
                counter-increment: level2;
            }

        ol li span { /* For IE6/7. */
            margin: 0 5px 0 -25px;
        }
</style>
