@{
    ViewBag.Title = "Техническое задание";
}

<div class="page-header">
    <div class="page-header-content">
        <h1>@ViewBag.Title</h1>
        <a class="back-button big page-back" title="Назад" href="@Url.Action(ViewBag.BackLink, "Contests")"></a>
    </div>
</div>

<div class="page-region">
    <div class="page-region-content">
        <h2>Техническое задание</h2>

        <h3>Общие сведения о проекте</h3>
        Целью проекта является разработка приложения портала kolesa.kz для устройств на базе Windows Phone (7.5 и выше) и Windows 8, версии под смартфоны и планшеты.
        <h3>Функционал приложения</h3>

        <ol>
            <li>
                Легковые
                <ol>
                    <li>    Горячие предложения</li>
                    <li>    Поиск</li>
                    <li>    Результаты поиска (список объявлений)</li>
                    <li>    Просмотр объявления и комментариев<br /></li>
                </ol>
            </li>
            <li>Мото</li>
            <li>Грузовики</li>
            <li>Автобусы</li>
            <li>Спецтехника</li>
            <li>
                Услуги
                <ol>
                    <li>	Каталог услуг (подкатегории)</li>
                    <li>	Поиск</li>
                    <li>	Результаты поиска (список объявлений)</li>
                    <li>	Объявление</li>
                </ol>
            </li>
            <li>
                Избранное
                <ol>
                    <li>	Машины</li>
                    <li>	Услуги</li>
                    <li>	Поиск</li>
                    <li>	Почитать</li>
                </ol>
            </li>
            <li>
                Почитать
                <ol>
                    <li>	Новости</li>
                    <li>	Статьи</li>
                    <li>	Страница новости или статьи и комментариев к ним</li>
                </ol>
            </li>
            <li>	Ваш регион</li>
        </ol><br />
        Элементы списка первого уровня являются пунктами главного меню приложения. Пункт «Ваш регион» представляет собой доступ к быстрому выбору региона из списка, который сохраняется в настройках приложения.
        <br />
        <h3>Легковые</h3>
        <b>Горячие предложения</b><br /><br />

        <b>Элементы функционального экрана:</b><br />
        <ol>
            <li>Кнопка «Найти»</li>
            <li>	Список объявлений из раздела Легковые с признаком Горячие, 20 объявлений с постраничной загрузкой и функцией обновления (pull to refresh)</li>
        </ol>
        <b>    Элементы объявления в списке:</b>
        <ol>
            <li>	Первое фото объявления, количество фото</li>
            <li>	Марка и Модель</li>
            <li>	Цена</li>
            <li>	Год выпуска</li>
            <li>	Город</li>
            <li>	Дата добавления объявления</li>
            <li>	Кузов</li>
            <li>	Двигатель</li>
            <li>	КПП</li>
            <li>	Пробег</li>
        </ol>
        <br />
        Все объявление является ссылкой на страницу просмотра объявления.<br />
        При отсутствии фото у объявления API отдает пустой ответ, в этом случае нужно показывать заглушку на базе <a href="http://kolesa.kz/i/noPhoto.gif" target="blank">http://kolesa.kz/i/noPhoto.gif</a>.<br />
        Если в разделе «Ваш регион» пользователь указал регион и/или город, то горячие объявления выводятся с учетом его выбора.<br />

        <br /><b>Поиск</b><br /><br />

        Форма для выбора параметров поиска по объявлениям категории Легковые. Все списки передаются сервером через API с заданным порядком сортировки. Все значения, кроме предустановленных приведены в качестве примера.<br />
        <br /><b>Элементы формы:</b>
        <ol>
            <li>Тип автомобиля: Легковые, Внедорожники и Пикапы, Минивены и микроавтобусы</li>
            <li>	Марка (выбор из списка + категория “Все” вверху списка)</li>
            <li>	Модель (выбор из списка, полученного по Марке + категория “Все” вверху списка)</li>
            <li>	Регион и город (выбор из списка + категория “Все” вверху списка для городов).</li>
            <li>
                Цена (число, в долларах)
                <ol>
                    <li>	Нижнее значение</li>
                    <li>	Верхнее значение</li>
                </ol>
            </li>
            <li>
                Год выпуска (ГГГГ)
                <ol>
                    <li>Нижнее значение</li>
                    <li>	Верхнее значение</li>
                </ol>
            </li>
            <li>	С фото (чекбокс)</li>
            <li>	Состояние (Не важно, на ходу, с пробегом, новая, аварийная)</li>
            <li>	Руль (Не важно, слева, справа)</li>
            <li>	Кузов (седан, универсал, внедорожник, кроссовер, хэтчбек, пикап, купе, кабриолет, минивэн, микроавтобус, лимузин)</li>
            <li>	Двигатель (Не важно, бензин, дизель, газ-бензин, газ, гибрид, электричество)</li>
            <li>	Объем двигателя (диапазон значений)</li>
            <li>	КПП (Не важно, механика, АКПП, типтроник, вариатор)</li>
            <li>	Пробег, не более (текстовое поле, в км)</li>
            <li>	Цвет (выбор из списка) </li>
            <li>	Особые отметки (в наличии, на заказ)</li>
            <li>	Поиск по тексту (текстовое поле)</li>
            <li>	Металлик (чекбокс)</li>
            <li>	Срочно, торг (чекбокс)</li>
            <li>	Обмен (чекбокс)</li>
            <li>	Кнопка Найти (“Поиск”)</li>
        </ol>
        Полный список параметров для формирования формы поиска по категории может быть получен в API с помощью параметра sortTypeId. Подробнее см. в "Документации по API Колёса"
        <br />
        После отправки запроса пользователь переходит на экран Результаты поиска.
        <br />
        Если в разделе «Ваш регион» пользователь указал регион и/или город, поля Регион и Город показываются выбранными с возможностью изменения.
        <br />

        <h3>Результаты поиска</h3>

        <b>Элементы функционального экрана:</b>
        <br />
        <ol>
            <li>	Кнопка Назад (возможность уточнить запрос)</li>
            <li>	Кнопка Добавить поиск в Избранные (сохранение параметров поиска в Избранное-Поиск для быстрого доступа)</li>
            <li>	Список объявлений, по 20 объявлений на странице</li>
            <li>	Переход к следующей странице результатов поиска (подгрузка по pull to refresh)</li>
        </ol>
        Параметры вывода объявлений в списке см. в разделе Легковые-Горячие предложения.
        <br /><br />

        <b>Просмотр объявления</b>
        <br />

        Экран отображает все данные объявления и обеспечивает возможность связаться с продавцом.
        <br /><br /><b>Элементы функционального экрана:</b>
        <ol>
            <li>	Кнопка «Добавить в Избранное» (сохранение объявления в Избранное-Машины для быстрого доступа)</li>
            <li>
                Базовые характеристики
                <ol>
                    <li>Марка и Модель (текст)</li>
                    <li>	Цена (число, в долларах)</li>
                    <li>	Город (текст)</li>
                    <li>	Год выпуска (ГГГГ)</li>
                </ol>
            </li>
            <li>	Фото (с возможностью прокрутки ленты и увеличения каждого фото, индикатор количества фотографий)</li>
            <li>	Подробные характеристики (список параметров для вывода объявления может быть получен в API помощью параметра sortTypeId. Подробнее см. в "Документации по API Колёса" </li>
            <li>
                Контакты (с возможностью набора номера, для поддерживающих набор устройств)
                <ol>
                    <li>Телефон 1 (в формате &lt;код страны&gt;&lt;код региона&gt;&lt;номер телефона&gt;)</li>
                    <li>Телефон 2</li>
                    <li>...</li>
                    <li>Телефон N</li>
                </ol>
            </li>
            <li>	Ссылка Посмотреть на сайте с явным указанием URL, в котором есть ID объявления</li>
            <li>	Комментарии (кнопка, открывающая просмотр списка комментариев к объявлению, с возможностью добавления нового комментария и ответа на комментарий). Подробнее про работу с комментариями см. в "Документации по API Колёса"</li>
        </ol>
        <h3>Мото</h3>
        Раздел отличается от Легковые только категорией объявлений и набором их параметров. Списки параметров для формы поиска и вывода на станице объявления могут быть получены в API. Внешний вид раздела аналогичен разделы Легковые.

        <h3>Грузовики</h3>
        Аналогично разделу Мото.

        <h3>    Автобусы</h3>
        <h3>Спецтехника</h3>
        Аналогично разделу Мото.
        <h3>Услуги</h3>
        <b>Каталог услуг</b><br />

        Список категорий из раздела Услуги в алфавитном порядке. Каждый элемент является ссылкой на список объявлений.

        <b>Элементы функционального экрана:</b>
        <ol>
            <li>	Список категорий</li>
        </ol>

        <b>Поиск</b><br />
        Форма для выбора параметров поиска по объявлениям категории Услуги.<br />
        <b>Элементы формы:</b>
        <ol>
            <li>	Категория (выбор из списка + Все)</li>
            <li>	Регион\ Город (Объединено в одно поле "Регион\Город", где последовательно выбирается сначала Регион, а после Город. </li>
            <li>	Поиск по тексту (текстовое поле)</li>
            <li>	Кнопка “Поиск”</li>
        </ol>
        После отправки запроса пользователь переходит на экран Результаты поиска.<br />
        Если в разделе «Ваш регион» пользователь указал регион и/или город, поля Регион и Город показываются выбранными с возможностью изменения.<br /><br />

        <b>Результаты поиска</b><br />


        <b>Элементы функционального экрана:</b>
        <ol>
            <li>	Список объявлений, по 20 объявлений на странице</li>
            <li>	Переход к следующей странице результатов поиска с помощью механизма pull to refresh</li>
        </ol><br />
        <b>Элементы объявления в списке:</b>
        <ol>
            <li>	Первое фото объявления и их количество</li>
            <li>	Город</li>
            <li>	Первые 50 символов текста объявления</li>
            <li>	Дата добавления объявления
        </ol>
        Все объявление является ссылкой на страницу просмотра объявления.<br /><br />

        <b>Просмотр объявления</b>
        <br />
        Экран отображает все данные объявления и обеспечивает возможность связаться с продавцом.<br /><br />
        <b>Элементы функционального экрана:</b>
        <ol>
            <li>	Кнопка «Добавить в Избранное» (сохранение объявления в Избранное-Услуги для быстрого доступа)</li>
            <li>	Фото (с возможностью прокрутки ленты и увеличения каждого фото, индикатор количества фотографий)</li>
            <li>	Город (текст)</li>
            <li>	Текст объявления (текст)</li>
            <li>
                Контакты (с возможностью набора номера, для iPhone)
                <ol>
                    <li>	Телефон 1</li>
                    <li>	Телефон 2</li>
                    <li>...</li>
                    <li>Телефон N</li>
                </ol>
            </li>
        </ol>

        <h3>Избранное</h3>


        Избранные объявления хранятся на устройстве и не синхронизируются с сайтом.
        Если объявления не добавлены, то выводится текстовая подсказка о том как это сделать.
        <b>Объявления</b><br />

        Экран для отображения списка объявлений из категорий Легковые, Мото, Автобусы, Грузовики, Спецтехника, добавленных пользователем в избранное.<br /><br />

        <b>Элементы функционального экрана:</b>
        <ol>
            <li>Кнопка «Редактировать» или аналогичный механизм вызова возможности удаления элементов списка</li>
            <li>	Список объявлений</li>
        </ol><br />
        Параметры вывода объявлений в списке см. в разделе Легковые-Горячие предложения.<br /><br />

        <b>Услуги</b>

        Экран для отображения списка объявлений из категории Услуги, добавленных пользователем в избранное.<br /><br />

        <b>Элементы функционального экрана:</b>
        <ol>
            <li>Кнопка «Редактировать» (вызов возможности удаления элементов списка)</li>
            <li>	Список объявлений</li>
        </ol><br />
        Параметры вывода объявлений в списке см. в разделе Услуги-Результаты поиска.<br /><br />
        <b>Поиск</b><br />

        Экран для отображения списка фильтров поиска, добавленных пользователем в избранное. Каждый элемент является ссылкой на страницу результатов по данному запросу.<br /><br />

        <b>Элементы функционального экрана:</b>
        <ol>
            <li>	Кнопка «Редактировать» (вызов возможности удаления элементов списка), либо возможность удалить элемент из избранного повторно выбрав его на соответствующем экране повторным нажатием кнопки “в избранное”.</li>
            <li>Список элементов</li>
        </ol><br />

        <b>Элементы в списке:</b>
        <ol>
            <li>	Марка – Модель</li>
            <li>	Регион – Город </li>
            <li>	Цена Нижнее значение – Верхнее значение</li>
            <li>	Год Нижнее значение – Верхнее значение</li>
            <li>	Ключевое слово поиска (если было введено)</li>
        </ol>

        <b>Почитать</b><br /><br />

        <b>Экран для отображения списка новостей и статей, добавленных пользователем в избранное.</b><br /><br />

        <b>Элементы функционального экрана:</b>
        <ol>
            <li>	Кнопка «Редактировать» (вызов возможности удаления элементов списка)</li>
            <li>
                Список публикаций
                <ol>
                    <li>	Фото</li>
                    <li>	Заголовок</li>
                    <li>	Дата публикации</li>
                </ol>
            </li>
        </ol><br />
        <h3>Почитать</h3>
        <b>Главная страница</b><br />
        Экран для вывода списком новостей и статей сайта. <br />
        Материалы могут быть получены с помощью RSS лент:<br />
        <a href="http://kolesa.kz/content/news/rss.xml" target="blank">http://kolesa.kz/content/news/rss.xml</a> – Новости.<br />
        <a href="http://kolesa.kz/content/articles/rss.xml" target="blank">http://kolesa.kz/content/articles/rss.xml</a> – Статьи.<br />

        <p>
            Для отображения одной публикации в приложении можно воспользоваться параметром clean=1 в ссылке на публикацию. <br />
            Пример:<a href="http://kolesa.kz/content/news/2013/12/voditeley-bez-stazha-za-rul-ne-puskat?clean=1" target="blank">http://kolesa.kz/content/news/2013/12/voditeley-bez-stazha-za-rul-ne-puskat?clean=1</a>
        </p>

        <b>Элементы функционального экрана:</b>
        <ol>
            <li>
                Подраздел «Новости»
                <ol>
                    <li>	Фото</li>
                    <li>	Заголовок</li>
                    <li>	Дата публикации</li>
                </ol>
            </li>
            <li>
                Подраздел «Статьи»
                <ol>
                    <li>	Превью Фото</li>
                    <li>	Заголовок</li>
                    <li>	Дата публикации</li>
                </ol>
            </li>
        </ol><br />
        <h3>Публикация</h3>
        Экран для чтения текста новости или статьи сайта.

        <br /><br />

        <b>Элементы функционального экрана:</b>
        <ol>
            <li>Кнопка «Добавить в Избранное» </li>
            <li>	Заголовок публикации</li>
            <li>	Текст публикации</li>
            <li>	Комментарии (кнопка, открывающая просмотр списка комментариев к объявлению, с возможностью добавления нового комментария и ответа на комментарий). Подробнее про работу с комментариями см. в "Документации по API Колёса"</li>
        </ol><br /><br />

        <b>Примечание:</b><br />
        По всем вопросам, касающимся технического задания и непосредственно API вы можете обращаться к Владимиру Меркушеву. Его контакты следующие:<br />
        <ol>
            <li>
                Skype – Vladimir.merkushev
            </li>
            <li>
                Facebook – Vladimir Merkushev
            </li>
            <li>
                E-mail – vladimir.merkushev@gmail.com
            </li>
        </ol>

        <br /><br />
        <a href="@Url.Action("CreateKolesa","Register")">
            <button class="active">Участвовать</button>
        </a>
    </div>
</div>


<script>
    $(document).ready(function () {
        if ($('ol:first').css('list-style-type') != 'none') { /* For IE6/7 only. */
            $('ol ol').each(function (i, ol) {
                ol = $(ol);
                var level1 = ol.closest('li').index() + 1;
                ol.children('li').each(function (i, li) {
                    li = $(li);
                    var level2 = level1 + '.' + (li.index() + 1);
                    li.prepend('<span>' + level2 + '</span>');
                });
            });
        }
    });
</script>
<style>
    html >/**/ body ol { /* Won't be interpreted by IE6/7. */
        list-style-type: none;
        counter-reset: level1;
    }

        ol li:before {
            content: counter(level1) ". ";
            counter-increment: level1;
        }

        ol li ol {
            list-style-type: none;
            counter-reset: level2;
        }

            ol li ol li:before {
                content: counter(level1) "." counter(level2) " ";
                counter-increment: level2;
            }

        ol li span { /* For IE6/7. */
            margin: 0 5px 0 -25px;
        }
</style>
