@{
    ViewBag.Title = "Публикация из Казахстана";
}

<div class="page-header">
    <div class="page-header-content">
        <h1>@ViewBag.Title</h1>
        <a class="back-button big page-back" title="Назад" href="http://contests.tech-club.kz"></a>
    </div>
</div>
 
<div class="page-region">
    <div class="page-region-content">
        <div class="body-text">
            До тех пор, пока для казахстанских разработчиков не появится возможность регистрации на <a href="http://dev.windows.com" target="_blank">http://dev.windows.com</a> , есть временное решение. Оно состоит в следующем:<br/>
            <ul>
                <li>
                    существует Live ID со следующими данными 
                    <ul>
                        <li>
                            Name: devkaz@live.com
                        </li>
                        <li>
                            Password: LetsDevelop (пожалуйста, не меняйте его)
                        </li>
                    </ul>
                </li>
                <li>
                    под этим Live ID на <a href="http://dev.windows.com" target="_blank">http://dev.windows.com</a>  зарегистрирована учётная запись «Сообщество Разработчиков Казахстана», через которую Вы можете публиковать свои приложения. 
                </li>
                <li>
                    публикация бесплатна, поэтому всё, что нужно – иметь приложение и желание сделать его достоянием общественности.
                </li>
                <li>
                    при публикации указывайте своё имя в копирайтах, чтобы мы (и все люди планеты) знали, кто является автором произведения. Кроме того, авторство можно указать и в приложении.
                </li>
                <li>
                    финансовый профиль этого аккаунта я настраивать не буду, ибо предполагается, что все публикуемые через него приложения – бесплатны. 
                </li>
            </ul>
            <br/>
            Можно начинать публикацию уже сейчас.<br/>
            Это не занимает много времени, если приложение написано качественно и более-менее протестировано. Мой опыт показывает (недавно опубликовал одно небольшое приложение), что от момента окончания процесса оформления вами публикации (нажата кнопка «Опубликовать») и до того, как приложение появится в Windows Store проходит совсем немного времени. Microsoft резервирует на это 7-8 суток. По факту моё приложение было опубликовано за ~12 часов! ONLY!<br/>
            Есть один нюанс при входе в <a href="http://dev.windows.com" target="_blank">http://dev.windows.com</a> . Майкрософт защищает своих клиентов, поэтому, когда Вы впервые будете заходить в панель со своего компьютера, потребуется его авторизация. В связи  с этим процесс следующий:
            <ol>
                <li>Открываем в Internet Explorer (это важно, поскольку функция «Сохранить компьютер как заслуживающий доверия» активна только в IE) сайт   <a href="http://dev.windows.com" target="_blank">http://dev.windows.com</a> и переходим в Dashboard</li>
                <li>Логинимся как devkaz@live.com</li>
                <li>В открывшемся окне выбираем «Отправить код на почту» (andrey.andreev@outlook.com) (если есть выбор)</li>
                <li>Сразу связываемся со мной и я диктую или отправляю вам этот код.</li>
                <li>Вводим его в поле.</li>
                <li>Ставим галочку в чекбоксе «Запомнить меня на этом устройстве»</li>
                <li>Заходим и публикуемся.</li>
            </ol>
            <br/>
            Если в дальнейшем будете использовать для входа не-IE придётся повторять эту процедуру каждый раз заново. Поэтому рекомендация очевидна – пользуйтесь IE9/10 ! :)
        </div>
    </div>
</div>

