@{
    ViewBag.Title = "Колёса+";
    Layout = "~/Views/Shared/_WideLayout.cshtml";
}

@*<div class="page-header">
        <div class="page-header-content">
            <h1>@ViewBag.Title</h1>
            <a class="back-button big page-back" title="Назад" href="@Url.Action("Index", "Home")"></a>
        </div>
    </div>*@
<link href="~/Scripts/Magnific-Popup/magnific-popup.css" rel="stylesheet" />
<div class="callout1">
    <div class="vert-text">
        <h1>@ViewBag.Title</h1>
        <h4>Конкурс клиентских приложений для портала kolesa.kz</h4>
    </div>
</div>
<!-- Intro -->
<div id="about" class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <p class="lead">
                    Полтора месяца пролетели быстро! Особенно быстро время летит, когда оно заполнено работой над интересным проектом...
                    А проект "Колёса+" оказался именно таким для многих наших разработчиков.<br /> Подведём итоги.<br />
                    Заявки на участие в конкурсе подали 42 человека. Иногда это были отдельные личности, иногда - целые команды. До финиша добрались не все! И это хорошо -
                    значит конкурс был сложным и решение поставленных задач оказалось вовсе не тривиальным занятием!<br />
                    Но, те проекты, которые были представлены в финале, сделаны на высоком уровне и жюри не просто было выбрать лучшие! Порадовало и качество кода, и дизайн представленных решений.<br />
                    Победителями стали следующие участники
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /Intro -->
<!-- Presentation -->
<div class="call-to-action">
    <div class="container">
        <h2><span>ПОБЕДИТЕЛИ И ПРИЗЫ</span></h2>
        <ol class="round">
            <li class="one">
                <h3>ПЕРВОЕ МЕСТО</h3>
                <span>Команда "MaxwillHouse" (Алматы) в которую вошли Изотов Константин, Ханес Максим и Сизов Владимир.</span><br />
                Призы - Смартфон <a href="http://www.youtube.com/watch?v=OVtQHL0Wrdw&list=PLGLlbyma4Kg5HlpEZEdUmBa1iLKV8uwxE" target="_blank">Nokia Lumia 1520</a>, планшет <a href="http://www.samsung.com/ca/consumer/office/mobile-computing/ativ-tab/XE500T1C-K01CA" target="_blank">Samsung Ativ Tab 5</a> и продолжение работы над проектом совместно с компанией "Колёса"!
            </li>
            <li>
            <li class="two">
                <h3>ВТОРОЕ МЕСТО</h3>
                <span>Команда "Mobile Techno" (Алматы), которую представляет Даулет Булегенов, студент Международного IT Университета</span><br />
                Призы - Смартфон <a href="http://www.youtube.com/watch?v=RxJAxrHK5Nk&list=PLGLlbyma4Kg5hq1toWNxmhcnl9ruqTaCG" target="_blank">Nokia Lumia 625</a> и планшет <a href="http://www.asus.com/uk/Tablets_Mobile/ASUS_VivoTab_Smart/#overview" target="_blank">ASUS ViviTab Smart</a>!
            </li>
            <li class="three">
                <h3>ТРЕТЬЕ МЕСТО</h3>
                <span>Тайшманов Бауыржан (Алматы), студент Международного IT Университета</span><br />
                Призы - Смартфон <a href="http://www.youtube.com/watch?v=9SwdMx94qf0&list=PLgKNvl454Bxe6UxmFurfu60YZZE-TMF5J" target="_blank">Nokia Lumia 520</a> и планшет <a href="http://www.asus.com/uk/Tablets_Mobile/ASUS_VivoTab_RT_3G/">ASUS VivoTab RT 3G</a>
            </li>
        </ol>
        <span style="font-size:x-small">*Призы можно получить в офисе компании "Microsoft Kazakhstan"</span>
    </div>
</div>
<!-- /Presentation -->
<!-- Images -->
<div id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-2 text-center">
                <div class="service-item">
                    <div class="offset10">
                        <h2>Maxwill House</h2>
                        <img src="~/Images/Kolesa/Kolesa11.png" height="100" id="some-button11" /><hr/>
                        <img src="~/Images/Kolesa/1.png" height="100" id="some-button12" />
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <div class="offset10">
                        <h2>Mobile Techno</h2>
                        <img src="~/Images/Kolesa/Kolesa21.png" height="100" id="some-button21" /><hr/>
                        <img src="~/Images/Kolesa/21.png" height="100" id="some-button22" />
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <div class="offset10">
                        <h2>Тайшманов Бауыржан</h2>
                        <img src="~/Images/Kolesa/Kolesa31.png" height="100" id="some-button31" /><hr/>
                        <img src="~/Images/Kolesa/31.png" height="100" id="some-button32" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Images -->
<!-- Call to Action -->
<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                Поздравляем победителей и благодарим всех, кто принял участие в конкурсе и представил свои проекты!!!
            </div>
        </div>
    </div>
</div>
<!-- /Call to Action -->
@section Scripts
{
    <script src="~/Scripts/Magnific-Popup/jquery.js"></script>
    <script src="~/Scripts/Magnific-Popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
        $('.parent-container').magnificPopup({
            delegate: 'a', // child items selector, by clicking on it popup will open
            type: 'image',
            gallery: { enabled: true }
            // other options
        });
    </script>

    <script type="text/javascript">
        $('#some-button11').magnificPopup({
            items: [
                {
                    src: '../Images/Kolesa/Kolesa11.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa12.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa13.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa14.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa15.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa16.png'
                }
            ],
            gallery: {
                enabled: true
            },
            type: 'image' // this is default type
        });
        $('#some-button12').magnificPopup({
            items: [
                {
                    src: '../Images/Kolesa/1.png'
                },
                {
                    src: '../Images/Kolesa/11.png'
                },
                {
                    src: '../Images/Kolesa/12.png'
                },
                {
                    src: '../Images/Kolesa/13.png'
                },
                {
                    src: '../Images/Kolesa/14.png'
                },
                {
                    src: '../Images/Kolesa/15.png'
                },
                {
                    src: '../Images/Kolesa/16.png'
                },
                {
                    src: '../Images/Kolesa/17.png'
                },
                {
                    src: '../Images/Kolesa/18.png'
                },
                {
                    src: '../Images/Kolesa/19.png'
                },
                {
                    src: '../Images/Kolesa/110.png'
                }
            ],
            gallery: {
                enabled: true
            },
            type: 'image' // this is default type
        });
        $('#some-button21').magnificPopup({
            items: [
                {
                    src: '../Images/Kolesa/Kolesa21.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa22.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa23.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa24.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa25.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa26.png'
                }
            ],
            gallery: {
                enabled: true
            },
            type: 'image' // this is default type
        });
        $('#some-button22').magnificPopup({
            items: [
                {
                    src: '../Images/Kolesa/21.png'
                },
                {
                    src: '../Images/Kolesa/22.png'
                },
                {
                    src: '../Images/Kolesa/23.png'
                },
                {
                    src: '../Images/Kolesa/24.png'
                },
                {
                    src: '../Images/Kolesa/25.png'
                },
                {
                    src: '../Images/Kolesa/26.png'
                },
                {
                    src: '../Images/Kolesa/27.png'
                },
                {
                    src: '../Images/Kolesa/28.png'
                },
                {
                    src: '../Images/Kolesa/29.png'
                }
            ],
            gallery: {
                enabled: true
            },
            type: 'image' // this is default type
        });
        $('#some-button31').magnificPopup({
            items: [
                {
                    src: '../Images/Kolesa/Kolesa31.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa32.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa33.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa34.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa35.png'
                },
                {
                    src: '../Images/Kolesa/Kolesa36.png'
                }
            ],
            gallery: {
                enabled: true
            },
            type: 'image' // this is default type
        });
        $('#some-button32').magnificPopup({
            items: [
                {
                    src: '../Images/Kolesa/31.png'
                },
                {
                    src: '../Images/Kolesa/32.png'
                },
                {
                    src: '../Images/Kolesa/33.png'
                },
                {
                    src: '../Images/Kolesa/34.png'
                },
                {
                    src: '../Images/Kolesa/35.png'
                },
                {
                    src: '../Images/Kolesa/36.png'
                },
                {
                    src: '../Images/Kolesa/37.png'
                },
                {
                    src: '../Images/Kolesa/38.png'
                }
            ],
            gallery: {
                enabled: true
            },
            type: 'image' // this is default type
        });
    </script>
}
